<a href="https://colab.research.google.com/github/kataria-pawan/Learning_Mode/blob/main/Python/Data_Type_and_Operator_and_Flow_Control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hellow ord')

hellow ord

In [ ]:
x = eval(input('enter the number 1: '))
y = eval(input('Enter the number 2:'))
sum_numbers = print('sum :', x, ' + ', y, '= ', x+y)
sub_numbers = print('subtract :', x, ' - ', y, '= ', x-y)
multiply_numbers = print('multiply :', x, ' * ', y, '= ', x*y)
divide_numbers = print('divide :', x, ' / ', y, '= ', x/y)
qutiont_numbers = print('qutiont :', x, ' // ', y, '= ', x//y)
reminder_numbers = print('reminder :', x, ' % ', y, '= ', x%y)

enter the number 1: 35632356
Enter the number 2:23588
sum : 35632356  +  23588 =  35655944
subtract : 35632356  -  23588 =  35608768
multiply : 35632356  *  23588 =  840496013328
divide : 35632356  /  23588 =  1510.613701882313
qutiont : 35632356  //  23588 =  1510
reminder : 35632356  %  23588 =  14476

In [ ]:
type(None)

NoneType

In [ ]:
type(print())

NoneType

In [ ]:
x = 0b111
x

73

In [ ]:
z = 0o111
z

73

In [ ]:
y = 0x111.123
y

SyntaxError: ignored

In [ ]:
x = eval(input('Enter the values: '))
type(x)

Enter the values: pawan

NameError: ignored

In [ ]:
r = range(10)

In [ ]:
print(range(10))

range(0, 10)

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
type(r)

range

In [ ]:
for i in r:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
r[0]

0

In [ ]:
r[0]=22

TypeError: ignored

In [ ]:
len(list(range(10,29)))

19

In [ ]:
range(50)

range(0, 50)

In [ ]:
range(10,50)

range(10, 50)

In [ ]:
list(range(10,50,5))

[10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
list(range(10.5,20.5))

TypeError: ignored

In [ ]:
s = {10,20,30,10,20}
s

{10, 20, 30}

In [ ]:
s[0]

TypeError: ignored

In [ ]:
s = {10,23,10.5,33,10,'pawan', True}
s

{10, 10.5, 23, 33, True, 'pawan'}

In [ ]:
s.add('kataria')
s

{10, 10.5, 23, 33, True, 'kataria', 'pawan'}

In [ ]:
s.remove('kataria')
s

{10, 10.5, 23, True, 'pawan'}

In [ ]:
s = set()
for i in range(10):
  s.add(i)
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
d = {100: 'pawan', 200: 'kataria'}
d

{100: 'india', 200: 'kataria'}

In [ ]:
type(d)

dict

In [ ]:
d = {100: 'pawan', 200: 'kataria', 100: "india"}
d

{100: 'india', 200: 'kataria'}

In [ ]:
d = {100: 'pawan', 200: 'kataria', 230: "pawan"}
d

{100: 'pawan', 200: 'kataria', 230: 'pawan'}

In [ ]:
s = 'pawan\nkataria'
s

'pawan\nkataria'

In [ ]:
print(s)

pawan
kataria

In [ ]:
s = 'pawan\tkataria'
print(s)

pawan	kataria

In [ ]:
s = 'pawan\bkataria'
print(s)

pawankataria

In [ ]:
s = 'pawan\rkataria'
print(s)

kataria

In [ ]:
s = 'pawan\fkataria'
print(s)

pawankataria

In [ ]:
s = 'pawan\'kataria'
print(s)

pawan'kataria

In [ ]:
s = (1,2,3,4,5,6)
s

(1, 2, 3, 4, 5, 6)

In [ ]:
type(s)

tuple

In [ ]:
x =1

In [ ]:
x==1
x

1

In [ ]:
y==2
y

NameError: ignored

In [ ]:
y=3

In [ ]:
y++3

6

In [ ]:
y+++3

6

In [ ]:
y-3

0

In [ ]:
y--3

6

In [ ]:
'pawan'+3

TypeError: ignored

In [ ]:
'pawan' + str(32)

'pawan32'

In [ ]:
'pawan' - str(23)

TypeError: ignored

In [ ]:
'pawan'*3

'pawanpawanpawan'

In [ ]:
'pawan'*'3'

TypeError: ignored

In [ ]:
'pawan'*3.0

TypeError: ignored

In [ ]:
2*'pawan'

'pawanpawan'

In [ ]:
10**2

100

In [ ]:
10** -2

0.01

In [ ]:
(10+2j)**2

(96+40j)

In [ ]:
5/0

ZeroDivisionError: ignored

In [ ]:
10%0

ZeroDivisionError: ignored

In [ ]:
10<20

True

In [ ]:
10<20<30

True

In [ ]:
'durga'>'ravi'

False

In [ ]:
'Ravi' > 'ravi'

False

In [ ]:
'roja'  < 'ramya'

False

In [ ]:
1==2

False

In [ ]:
1!= 2

True

In [ ]:
10==True

False

In [ ]:
False==False

True

In [ ]:
'durga'=='durga'

True

In [ ]:
'Drug'=='drug'

False

In [ ]:
10=='pk'

False

In [ ]:
1 and 2

2

In [ ]:
10 and 20

20

In [ ]:
10 or 20

10

In [ ]:
'pk' and 20

20

In [ ]:
20 and 'pk'

'pk'

In [ ]:
0 or 2

2

In [ ]:
0 or 0

0

In [ ]:
1 and 0

0

In [ ]:
not 10

False

In [ ]:
not 'empty'

False

In [ ]:
not ''

True

In [ ]:
not 0

True

In [ ]:
10 or 10/0

10

In [ ]:
0 and 10/0

0

In [ ]:
4 & 5

4

In [ ]:
a, b, c,d = 1,2,3,4

In [ ]:
a

1

In [ ]:
b

2

In [ ]:
x=10

In [ ]:
x+=10

In [ ]:
x

20

In [ ]:
y = x++x
y

40

In [ ]:
z = y--x
z

60

In [ ]:
z = y---x
z

20

In [ ]:
x = 45 if 30<20 else 40
print(x)

40

In [ ]:
a = eval(input('Enter First number: '))
b = eval(input('Enter Second number: '))
Min = a if a<b else b
print('Mininum Value is: ', Min)

Enter First number: 35.9
Enter Second number: 90
Mininum Value is:  35.9

In [ ]:
a = eval(input('Enter First number: '))
b = eval(input('Enter Second number: '))
print('Equal Values' if a==b else 'First Number Greater' if a>b else 'First number is smaller')

Enter First number: 35.97
Enter Second number: 50
First number is smaller

In [ ]:
x = input('Enter the number: ')
print(x)
print(type(x))

Enter the number: 3
3
<class 'str'>

In [ ]:
a = eval(input('Enter First number: '))
print(a)
print(type(a))

Enter First number: {1:"hello",2:"key"}
{1: 'hello', 2: 'key'}
<class 'dict'>

In [ ]:
x = input('enter something; ')
type(x)

enter something; 54

str

In [ ]:
a, b = [int(x) for x in input('enter the 2 values: ').split(',')]
print('The product : ', a*b)

enter the 2 values: 23,35
The product :  805

In [ ]:
a,b,c = [eval(x) for x in input('Enter 3 values using comma : ').split(",")]
print(type(a))
print(type(b))
print(type(c))

Enter 3 values using comma : 3,2.5,50
<class 'int'>
<class 'float'>
<class 'int'>

In [ ]:
from sys import argv
print(type(argv))

<class 'list'>

In [ ]:
print('pawan'+'kataria')
print('pawan','kataria')

pawankataria
pawan kataria

In [ ]:
a,b,c= 10,20,30
print('a value is %i' %a)

a value is 10

In [ ]:
a,b,c= 10,20,30
print('a value is %i' %a)
print('a value is %i and b value is %i' %(a,b))

a value is 10
a value is 10 and b value is 20

In [ ]:
name = 'Pawan'
salary = 10000
gf = 'sunny'
print('Hello {0} your salary is {1} and your Girl Friend name is {2} is wating.'.format(name,salary,gf))
print('Hello {} your salary is {} and your Girl Friend name is {} is wating.'.format(name,salary,gf))
print('Hello {x} your salary is {y} and your Girl Friend name is {z} is wating.'.format(x=name,y=salary,z=gf))

Hello Pawan your salary is 10000 and your Girl Friend name is sunny is wating.
Hello Pawan your salary is 10000 and your Girl Friend name is sunny is wating.
Hello Pawan your salary is 10000 and your Girl Friend name is sunny is wating.

# Flow Control Process

In [ ]:
name = input('Enter the Name: ')
if name == 'Pawan':
  print('Hello Pawan, good morning')
else:
  print('Hello {}, Good Morning.\nHow are you?'.format(name))

Enter the Name: Kataria
Hello Kataria, Good Morning.
How are you?

In [ ]:
brand = input('Enter your favourate brand : ')
if brand == 'RC':
  print('It is childrens brand')
elif brand=='KF':
  print('It is not that much kick')
elif brand == 'KO':
  print('It is too light')
elif brand == 'FO':
  print('Buy one get one free')
else:
  print('Other brands are not recommended')

Enter your favourate brand : K0
Other brands are not recommended

In [ ]:
# program to find biggest of given 2 numbers from the keyboard
n1 = eval(input('Enter First Number : '))
n2 = eval(input('Enter Second Number : '))
if n1<n2:
  print("Bigger number is: ", n2)
else:
  print('Bigger number is : ', n1)

Enter First Number : -1100
Enter Second Number : -2000
Bigger number is :  -1100

In [ ]:
# program to find biggest of given 3 numbers from the keyboard
n1 = eval(input('Enter First Number : '))
n2 = eval(input('Enter Second Number : '))
n3 = eval(input('Enter Third Number : '))
if n1>n2 and n1>n3:
  print("Bigger number is: ", n1)
elif n2 > n3:
  print('Bigger number is : ', n2)
else:
  print('Biggest number is : ', n3)

Enter First Number : 10
Enter Second Number : 20
Enter Third Number : 20
Biggest number is :  20

In [ ]:
# program to find biggest of given 3 numbers from the keyboard
n1 = eval(input('Enter First Number : '))
n2 = eval(input('Enter Second Number : '))
n3 = eval(input('Enter Third Number : '))
if n1>n2 and n1>n3:
  print("Bigger number is: ", n1)
elif n2 > n3:
  print('Bigger number is : ', n2)
else:
  print('Biggest number is : ', n3)

Enter First Number : 'Pawan'
Enter Second Number : 'Kataria'
Enter Third Number : 'Jaipur'
Bigger number is:  Pawan

In [ ]:
n = eval(input('Enter the number : '))
if n>=1 and n<=100:
  print('The number {} is in between 1 and 100'.format(n))
else:
  print('The number {} is not between 1 and 100'.format(n))

Enter the number : 28
The number 28 is in between 1 and 100

In [ ]:
n = eval(input('enter the digit between 0 to 9 : '))
if n==0:
  print('Zero')
elif n==1:
  print('One')
elif n==2:
  print('Two')
elif n==3:
  print('Three')
elif n==4:
  print('Four')
elif n==5:
  print('Five')
elif n==6:
  print('Six')
elif n==7:
  print('Seven')
elif n==8:
  print('Eight')
elif n==9:
  print('Nine')
else:
  print('Enter the number between o to 9 only.')

enter the digit between 0 to 9 : 5.5
Enter the number between o to 9 only.

In [ ]:
s = 'Sunny Leone'
for x in s:
  print(x)

S
u
n
n
y

L
e
o
n
e

In [ ]:
s = 'Sunny Leone'
count = 0
for x in s:
  count += 1
  print(x)
print('The number of characters : ', count)

S
u
n
n
y

L
e
o
n
e
The number of characters :  11

In [ ]:
l = [10,20,30,40]
for x in l:
  print(x)

10
20
30
40

In [ ]:
s = input('enter some string : ')
i = 0
for x in s:
  print('The character present at', i,'index is', x)
  i+=1

enter some string : pawan
The character present at 0 index is p
The character present at 1 index is a
The character present at 2 index is w
The character present at 3 index is a
The character present at 4 index is n

In [ ]:
s = input('enter some string : ')
i = 0
for x in s:
  if i != 0:
    print('The character present at', i,'index is', x)
  i+=1

enter some string : pawan
The character present at 1 index is a
The character present at 2 index is w
The character present at 3 index is a
The character present at 4 index is n

In [ ]:
for i in range(10):
  print("{} Hello Pawan".format(i))

0 Hello Pawan
1 Hello Pawan
2 Hello Pawan
3 Hello Pawan
4 Hello Pawan
5 Hello Pawan
6 Hello Pawan
7 Hello Pawan
8 Hello Pawan
9 Hello Pawan

In [ ]:
for i in range(21):
  if i%2 == 0:
    print('{} Even Number'.format(i))
  else:
    print('{} Odd Numbers'.format(i))

0 Even Number
1 Odd Numbers
2 Even Number
3 Odd Numbers
4 Even Number
5 Odd Numbers
6 Even Number
7 Odd Numbers
8 Even Number
9 Odd Numbers
10 Even Number
11 Odd Numbers
12 Even Number
13 Odd Numbers
14 Even Number
15 Odd Numbers
16 Even Number
17 Odd Numbers
18 Even Number
19 Odd Numbers
20 Even Number

In [ ]:
for i in range(1,21):
  if i%2 == 0:
    print('{} Even Number'.format(i))
  else:
    print('{} Odd Numbers'.format(i))

1 Odd Numbers
2 Even Number
3 Odd Numbers
4 Even Number
5 Odd Numbers
6 Even Number
7 Odd Numbers
8 Even Number
9 Odd Numbers
10 Even Number
11 Odd Numbers
12 Even Number
13 Odd Numbers
14 Even Number
15 Odd Numbers
16 Even Number
17 Odd Numbers
18 Even Number
19 Odd Numbers
20 Even Number

In [ ]:
for i in range(10,0,-1):
  if i%2 == 0:
    print('{} Even Number'.format(i))
  else:
    print('{} Odd Numbers'.format(i))

10 Even Number
9 Odd Numbers
8 Even Number
7 Odd Numbers
6 Even Number
5 Odd Numbers
4 Even Number
3 Odd Numbers
2 Even Number
1 Odd Numbers

In [ ]:
l = eval(input('Enter the list data : '))
sum = 0
for x in l:
  sum += x
print('The sum : ', sum)

Enter the list data : [10,20,30]
The sum :  60

In [ ]:
x =1
while x <=10:
  print(x)
  x += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
n = int(input('Enter some number : '))
sum = 0
i = 1
while i <= n:
  sum += i
  i += 1
print('The sum of first n numbers : ', sum)

Enter some number : 100
The sum of first n numbers :  5050

In [ ]:
name = ''
while name != 'Pawan':
  name = input('Enter the name : ')
print('Hello Pawan, welcome to club.')

Enter the name : durga
Enter the name : durga
Enter the name : kataria
Enter the name : pawan
Enter the name : Pawan
Hello Pawan, welcome to club.

In [ ]:
name = ''
pwd = ''
while (name != 'Pawan') and (pwd != 'Kataria'):
  name = input('Enter the name : ')
  pwd = input('Enter the password : ')
print('Hello Pawan, welcome to club.')

Enter the name : pawan
Enter the password : kataria
Enter the name : Pawan
Enter the password : Kataria
Hello Pawan, welcome to club.

In [ ]:
for i in range(4):
  for j in range(4):
    print('i = {} and j = {}'.format(i,j))

i = 0 and j = 0
i = 0 and j = 1
i = 0 and j = 2
i = 0 and j = 3
i = 1 and j = 0
i = 1 and j = 1
i = 1 and j = 2
i = 1 and j = 3
i = 2 and j = 0
i = 2 and j = 1
i = 2 and j = 2
i = 2 and j = 3
i = 3 and j = 0
i = 3 and j = 1
i = 3 and j = 2
i = 3 and j = 3

In [ ]:
n = int(input('Enter the Number of Rows : '))
for i in range(1,n+1):
  print('*'*i)

Enter the Number of Rows : 4
*
**
***
****

In [ ]:
n = int(input('Enter the Number of Rows : '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end= ' ')
  print()

Enter the Number of Rows : 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n = int(input('Enter the Number of Rows : '))
for i in range(1,n+1):
  for j in range(i):
    print('*',end= ' ')
  print()

Enter the Number of Rows : 3
*
* *
* * *

In [ ]:
n = int(input('Enter the Number of Rows : '))
for i in range(n):
  print('* '*n)

Enter the Number of Rows : 3
* * *
* * *
* * *

In [ ]:
n = int(input('Enter the Number of Rows : '))
for i in range(n): # i means row number
  for j in range(n): # j means number of *
    print('*', end = ' ')
  print()

Enter the Number of Rows : 3
* * *
* * *
* * *

In [ ]:
n = int(input('Enter the Number of Rows : '))
for i in range(1,n+1): # i represents row number
  print('* '*i)

Enter the Number of Rows : 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n = int(input('Enter the Number of Rows : '))
for i in range(1,n+1): # i represents row number
  print('* '*i)

Enter the Number of Rows : 3
*
* *
* * *

In [ ]:
n = int(input('Enter the Number of Rows : '))
for i in range(n+1, 1):
  print('*'*i)

Enter the Number of Rows : 3

In [ ]:
n = int(input('Enter the Number of Rows : '))
for i in range(n+1):
  for j in range(i):
    print('* '*i)
  print()

Enter the Number of Rows : 4

*

* *
* *

* * *
* * *
* * *

* * * *
* * * *
* * * *
* * * *

In [ ]:
n = int(input('Enter the Number of Rows : '))
for i in range(n+1):
  for j in range(i):
    print('* '*i, end='\n')

Enter the Number of Rows : 4
*
* *
* *
* * *
* * *
* * *
* * * *
* * * *
* * * *
* * * *

In [ ]:
i =0
while True:
  print('Hello', i)
  i += 1
  if i == 5:
    break

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4

In [ ]:
i =0
while False:
  print('Hello', i)
  i += 1
  if i == 5:
    break

In [ ]:
for i in range(10):
  if i == 7:
    print('Processing is enough....plz break')
    break
  print(i)

0
1
2
3
4
5
6
Processing is enough....plz break

In [ ]:
cart = [10,20,600,60,80,70,90]
for item in cart:
  if item >500:
    print('Sorry we cannot process this order, need insurence')
    break
  print('Processing item : ', item)

Processing item :  10
Processing item :  20
Sorry we cannot process this order, need insurence

In [ ]:
for i in range(10):
  if i%2 == 0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
cart = [10,20,600,60,80,70,90]
for item in cart:
  if item >500:
    print('Sorry we cannot process this item',item,'need insurence')
    continue
  print('Processing item : ', item)

Processing item :  10
Processing item :  20
Sorry we cannot process this item 600 need insurence
Processing item :  60
Processing item :  80
Processing item :  70
Processing item :  90

In [ ]:
numbers = [10,20,30,0,5,0,40]
for n in numbers:
  if n == 0:
    print('Hey how we can divide with zero')
    continue
  print('100 / {} = {}'.format(n,100/n))

100 / 10 = 10.0
100 / 20 = 5.0
100 / 30 = 3.3333333333333335
Hey how we can divide with zero
100 / 5 = 20.0
Hey how we can divide with zero
100 / 40 = 2.5

In [ ]:
cart = [10,20,60,80,70,90]
for item in cart:
  if item >500:
    print('Sorry we cannot process this order, need insurence')
    break
  print('Processing item : ', item)
else:
  print('Congrats...all items processed successfully')

Processing item :  10
Processing item :  20
Processing item :  60
Processing item :  80
Processing item :  70
Processing item :  90
Congrats...all items processed successfully

In [ ]:
cart = [10,20,600,60,80,70,90]
for item in cart:
  if item >500:
    print('Sorry we cannot process this item',item,'need insurence')
    break
  print('Processing item : ', item)
else:
  print('Congrats...all items processed successfully')

Processing item :  10
Processing item :  20
Sorry we cannot process this item 600 need insurence

In [ ]:
for i in range(100):
  if i % 10 == 0:
    print(i)
  else:
    pass

0
10
20
30
40
50
60
70
80
90

In [ ]:
x = 10
print(x)
del x # to delete the variable from the memory

10

In [ ]:
s = 'pawan'
del s[0]

TypeError: ignored

In [ ]:
x = 10
y = 30
del x,y