<a href="https://colab.research.google.com/github/kataria-pawan/Learning_Mode/blob/main/Python/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# dictionary
# key-value pairs
# eg: rollno-name, mobile no. - address
# keys cannot be duplicate
# values can be duplicate

In [ ]:
# create a empty dictionary
d = {}
# or
d1 = dict()
# d[key] = [value]

In [ ]:
d= {}
d[100] = 'awan'
d[200] = 'kapil'
d[300] = 'deepak'
d['rich'] = 'man'
print(d)

{100: 'awan', 200: 'kapil', 300: 'deepak', 'rich': 'man'}

In [ ]:
d = {'a': 'apple', 'b':'banana', 'c':'cat'}
print(d)

{'a': 'apple', 'b': 'banana', 'c': 'cat'}

In [ ]:
# to access elements from the dictionary
d['a']

'apple'

In [ ]:
print(d['b'])

banana

In [ ]:
# write a program to enter name and % of marks in a dictionary and display info on the screen
rec ={}
n = int(input('Enter number of students: '))
i = 1
while i<=n:
  name = input('Enter the student name: ')
  marks = input('Enter % of marks: ')
  rec[name] = marks
  i += 1
print("Student name :","\t","% of marks: ")
for x in rec:
  print("\t",x,"\t\t",rec[x])

Enter number of students: 3
Enter the student name: awan
Enter % of marks: 34
Enter the student name: deepak
Enter % of marks: 24
Enter the student name: ivam
Enter % of marks: 22
Student name : 	 % of marks:
	 awan 		 34
	 deepak 		 24
	 ivam 		 22

In [ ]:
d ={101:'deepak',102:'ravi',103:'raaj'} #dictionary created
print(d)

{101: 'deepak', 102: 'ravi', 103: 'raaj'}

In [ ]:
d[105]='raman' # new entry added
print(d)

{101: 'deepak', 102: 'ravi', 103: 'raaj', 105: 'raman'}

In [ ]:
d[101]='divya' # to update the key values
print(d)

{101: 'divya', 102: 'ravi', 103: 'raaj', 105: 'raman'}

In [ ]:
#delete the elements from the dictionary
del d[102] # to delete key must be identified
print(d)

{101: 'divya', 103: 'raaj', 105: 'raman'}

In [ ]:
d.clear() # clear all the values inside the dictionary
print(d) # it empty the dictionary

{}

In [ ]:
l = ['kapil','shiv','deval']
d = {100: l} # one key values assigned to a list of values
print(d)

{100: ['kapil', 'shiv', 'deval']}

In [ ]:
# important functions and methods of dictionary
d = dict({100:'deval',200:'shiv'})
print(d)

{100: 'deval', 200: 'shiv'}

In [ ]:
d = dict([(100,'deval'),(200,'shiv'),(300,'ajay')]) # with list of tuples only
print(d)

{100: 'deval', 200: 'shiv', 300: 'ajay'}

In [ ]:
d = dict(((100,'deval'),(200,'shiv'),(300,'ajay'))) # with tuple of tuples only
print(d)

{100: 'deval', 200: 'shiv', 300: 'ajay'}

In [ ]:
d = dict({(100,'deval'),(200,'shiv'),(300,'ajay')}) # with set of tuples only
print(d)

{100: 'deval', 300: 'ajay', 200: 'shiv'}

In [ ]:
d = dict((100,'deval'),(200,'shiv'))
print(d)

TypeError: ignored

In [ ]:
d = dict(((100,'deval'),(200,'shiv')))
print(d)

{100: 'deval', 200: 'shiv'}

In [ ]:
d = dict(((100,'deval'),(200,'shiv')))
print(d)
print(len(d)) # number of key

{100: 'deval', 200: 'shiv'}
2

In [ ]:
d = dict(((100,'deval'),(200,'shiv')))
print(d)
print(d.get(100)) # return value of the key

{100: 'deval', 200: 'shiv'}
deval

In [ ]:
d = dict(((100,'deval'),(200,'shiv')))
print(d)
print(d.get(500,'deepak')) # to get is inquery and if key is not available then deepak is return

print(d)

{100: 'deval', 200: 'shiv'}
deepak
{100: 'deval', 200: 'shiv'}

In [ ]:
d = dict(((100,'deval'),(200,'shiv')))
print(d)
print(d.pop(200))
print(d)

{100: 'deval', 200: 'shiv'}
shiv
{100: 'deval'}

In [ ]:
d = dict(((100,'deval'),(200,'shiv')))
print(d)
print(d.popitem()) # randomly delete the item and return the deleted item
print(d)

{100: 'deval', 200: 'shiv'}
(200, 'shiv')
{100: 'deval'}

In [ ]:
d = dict(((100,'deval'),(200,'shiv')))
print(d.keys())
for k in d.keys():
  print(k)

dict_keys([100, 200])
100
200

In [ ]:
d = dict(((100,'deval'),(200,'shiv')))
print(d.values())
for k in d.values():
  print(k)

dict_values(['deval', 'shiv'])
deval
shiv

In [ ]:
# item means [(k,v),(k,v),(k,v)]
d = {100:'deepak',200:'ravi',300:'komal',400:'shree'}
l = d.items()
print(l)

dict_items([(100, 'deepak'), (200, 'ravi'), (300, 'komal'), (400, 'shree')])

In [ ]:
d = {100:'deepak',200:'ravi',300:'komal',400:'shree'}
for k,v in d.items():
  print(k,'....',v)

100 .... deepak
200 .... ravi
300 .... komal
400 .... shree

In [1]:
d = eval(input('Enter dictionary: '))
s = sum(d.values())
print('The sum: ', s)

Enter dictionary: {'a':100,'b':200,'c':300}
The sum:  600

In [2]:
d = eval(input('Enter dictionary: '))
s = sum(d.values())
print('The sum: ', s)

Enter dictionary: {'a':310,'b':34200,'c':33200}
The sum:  67710

In [3]:
word = input('enter any word: ')
d = {}
for x in word:
  d[x] = d.get(x,0)+1 # if x is not there then consider zero
print(d)

enter any word: adfasbaasdfsda
{'a': 5, 'd': 3, 'f': 2, 's': 3, 'b': 1}

In [5]:
word = input('enter any word: ')
d = {}
for x in word:
  d[x] = d.get(x,0)+1 # if x is not there then consider zero
print(d)
for k,v in d.items():
  print('{} occured {} times'.format(k,v))

enter any word: aabsbabdbasbs
{'a': 4, 'b': 5, 's': 3, 'd': 1}
a occured 4 times
b occured 5 times
s occured 3 times
d occured 1 times

In [6]:
word = input('enter any word: ')
d = {}
for x in word:
  d[x] = d.get(x,0)+1 # if x is not there then consider zero
print(d)
print(sorted(d)) # sorted will be based on key only
for k,v in sorted(d.items()): # sorted
  print('{} occured {} times'.format(k,v)) # replacement operator

enter any word: missisispi
{'m': 1, 'i': 4, 's': 4, 'p': 1}
['i', 'm', 'p', 's']
i occured 4 times
m occured 1 times
p occured 1 times
s occured 4 times

In [9]:
# number of occurances of each vowel present in the given string
word = input('Enter some word: ')
v = {'a', 'e', 'i','o', 'u'}
d = {}
for x in word:
  if x in v:
    d[x]=d.get(x,0)+1
for k,v in sorted(d.items()):
  print('{} occured {} times'.format(k,v))

Enter some word: makre sports and kapil sharma
a occured 5 times
e occured 1 times
i occured 1 times
o occured 1 times
Enter some word: kjsafklaskf
a occured 2 times

In [10]:
n = int(input('Enter the number of students: '))
d = {}
for i in range(n):
  name = input('Enter student name: ')
  marks = int(input('Enter student marks: '))
  d[name] = marks
print(d)

Enter the number of students: 2
Enter student name: kapil
Enter student marks: 90
Enter student name: ravi
Enter student marks: 69
{'kapil': 90, 'ravi': 69}

In [11]:
n = int(input('Enter the number of students: '))
d = {}
for i in range(n):
  name = input('Enter student name: ')
  marks = int(input('Enter student marks: '))
  d[name] = marks
print(d)
while True:
  name = input('Enter student name to get marks: ')
  marks=d.get(name,-1)
  if marks == -1:
    print('Student not found')
  else:
    print('The marks of {} are: {}'.format(name,marks))
  option = input('Do you want to find another student marks [Yes|No]: ')
  if option == 'No':
    break
print('Thanks for using our application.')

Enter the number of students: 5
Enter student name: summy
Enter student marks: 100
Enter student name: bynny
Enter student marks: 200
Enter student name: shinny
Enter student marks: 300
Enter student name: tinny
Enter student marks: 400
Enter student name: vinny
Enter student marks: 500
{'summy': 100, 'bynny': 200, 'shinny': 300, 'tinny': 400, 'vinny': 500}
Enter student name to get marks: jonny
Student not found
Do you want to find another student marks [Yes|No]: Yes
Enter student name to get marks: tinny
The marks of tinny are: 400
Do you want to find another student marks [Yes|No]: Yes
Enter student name to get marks: summy
The marks of summy are: 100
Do you want to find another student marks [Yes|No]: Pawan
Enter student name to get marks: Pawan
Student not found
Do you want to find another student marks [Yes|No]: No
Thanks for using our application.

In [12]:
# comprehension concept
square = {x:x*x for x in range(1,6)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [13]:
doubles = {x:2*x for x in range(1,9)}
print(doubles)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16}