<a href="https://colab.research.google.com/github/kataria-pawan/Learning_Mode/blob/main/Python/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Function is a group of line or statement and used for code reusablility
# inbuilt function (predefined functions)
# user-defined functions

In [ ]:
# Built in functions
#print()
#eval()
#len()
#input()
#id()
#sorted()

In [ ]:
# User Defined function
def wish(): # def is to define function and wish is function name
  print('Good Morning')
  print('Good Morning')
  print('Good Morning')
  print('Good Morning')
wish() # calling the function

Good Morning
Good Morning
Good Morning
Good Morning

In [ ]:
wish()

Good Morning
Good Morning
Good Morning
Good Morning

In [ ]:
# User Defined function
def wish(name): # name here act as a parameter in a function
  print('Hello', name, 'Good Morning')

wish('Ravi')

Hello Ravi Good Morning

In [ ]:
def square(x):
  print('The square of {} is: {}'.format(x,x*x))

square(10)
square(5)
square(9)

The square of 10 is: 100
The square of 5 is: 25
The square of 9 is: 81

In [ ]:
def add(a,b):
  return a+b

result = add(10,20)
print('the sum is: ', result)
print('the sum is: ',add(100,200))

the sum is:  30
the sum is:  300

In [ ]:
# def function_name(parameters):
  # business logic
  # return result

In [ ]:
# to find the even and odd number
def evenodd(n):
  if n%2 == 0:
    print('{} number is even'.format(n))
  else:
    print('{} number is odd'.format(n))

evenodd(7)
evenodd(10)
evenodd(11)
evenodd(146)

7 number is odd
10 number is even
11 number is odd
146 number is even

In [ ]:
evenodd(10.5)

10.5 number is odd

In [ ]:
# to find a factorial of a given number
def fact(n):
  result = 1
  while n>1:
    result = result*n
    n = n-1
  return result

fact(4)

24

In [ ]:
fact(5)

120

In [ ]:
print(fact(6))

720

In [ ]:
def fact(n):
  result = 1
  while n>1:
    result = result*n
    n = n-1
  return result

for i in range(1,6):
  print('The factorial of {} is: {}'.format(i,fact(i)))

The factorial of 1 is: 1
The factorial of 2 is: 2
The factorial of 3 is: 6
The factorial of 4 is: 24
The factorial of 5 is: 120

In [ ]:
def sum_sub(a,b):
  sum = a+b
  sub = a-b
  return sum, sub

x,y = sum_sub(100,50)
print('The sum :',x)
print('The sub :',y)

The sum : 150
The sub : 50

In [ ]:
def calc(a,b):
  sum = a+b
  sub = a-b
  mul = a*b
  div = a/b
  return sum,sub,mul,div

t = calc(100,50)
print(t)
print(type(t))
print('The results are: ')
for x in t:
  print(x)

(150, 50, 5000, 2.0)
<class 'tuple'>
The results are:
150
50
5000
2.0

In [ ]:
# types of arguments
# 1. positional arguments
# 2. keywords arguments
# 3. default arguments
# 4. variable length arguments

In [ ]:
# positional arguments
def sub(a,b):
  print(a-b)
sub(50,100) # position is very important
sub(100,50)

-50
50

In [ ]:
# keyword argument
def wish(name,msg):
  print('Hello {} how was your sleep {}'.format(name,msg))
wish(name='Ravi',msg='Good Morning')
wish(msg='Good Morning',name='Ravi')
wish('Ravi','Good Mornig') # this is positional argument

Hello Ravi how was your sleep Good Morning
Hello Ravi how was your sleep Good Morning
Hello Ravi how was your sleep Good Mornig

In [ ]:
# default argument means you can define default value insided the parameter
def wish(name = 'Guest'):
  print('hello',name, 'Good evening')

wish('RAvi')
wish()

hello RAvi Good evening
hello Guest Good evening

In [ ]:
def wish(name = 'Guest', msg):
  print('hello',name,msg)

wish()

SyntaxError: ignored

In [ ]:
def wish(marks,age,name = 'Guest', msg='good morning'):
  print('student name: ',name)
  print('student age: ',age)
  print('Student marks: ',marks)
  print('message :',msg)

wish(50,18)

student name:  Guest
student age:  18
Student marks:  50
message : good morning

In [ ]:
wish(100,35,'Ravi','Good evening')

student name:  Ravi
student age:  35
Student marks:  100
message : Good evening

In [ ]:
# variable length arguments:
def f1(*n): # here n means group of values act as a tuple
  print('Var-arg function')

f1()
f1(10)
f1(10,20,30)
f1(10,20,30,40)

Var-arg function
Var-arg function
Var-arg function
Var-arg function

In [ ]:
# print the sum of given number
def sum(*n): # singh star contain only numbers
  result = 0
  for x in n:
    result += x
  print('the sum: ', result)
sum()
sum(10)
sum(10,20,30)
sum(10,20,30,40)

the sum:  0
the sum:  10
the sum:  60
the sum:  100

In [ ]:
def sum(name,*n):
  result = 0
  for x in n:
    result = result + x
  print('the sum by ',name,' is : ', result)

sum('Deepak')
sum('Ravi',10)
sum('Shiv',10,20,30)
sum('Ajay',10,20,30,40)

the sum by  Deepak  is :  0
the sum by  Ravi  is :  10
the sum by  Shiv  is :  60
the sum by  Ajay  is :  100

In [ ]:
def display(**kwargs): # contain the variable name
  print('Record information: ')
  for k,v in kwargs.items():
    print(k,'...........',v)

display(name='Ravi',marks=100,age=39,GF='bunny')

display(name='vinni',wife='shila',boy='tonny',girl='tina')

Record information:
name ........... Ravi
marks ........... 100
age ........... 39
GF ........... bunny
Record information:
name ........... vinni
wife ........... shila
boy ........... tonny
girl ........... tina

In [ ]:
def f1(arg1,arg2,arg3=4,arg4=8):
  print(arg1,arg2,arg3,arg4)

f1(3,2)

3 2 4 8

In [ ]:
f1(10,20,30,40)

10 20 30 40

In [ ]:
f1(20,50,arg4=100)

20 50 4 100

In [ ]:
f1(arg4=2,arg1=3,arg2=4)

3 4 4 2

In [ ]:
f1() #missing 2 starting values to enter

TypeError: ignored

In [ ]:
f1(arg3=10,arg4=40,20,30) # always take positional argument before keywards argument

SyntaxError: ignored

In [ ]:
f1(4,5,arg2=5) # multiple values for arg2

TypeError: ignored

In [ ]:
f1(4,5,arg3=6,arg5=9) # arg5 is not defined in function

TypeError: ignored

In [ ]:
# modules:its group of function
# package:its group of modules
# library contain a group of package

In [ ]:
# Types of Variables
# 1. Global Variables : declare outside of the function
# 2. Local Variables : declare inside of the function

In [ ]:
# global variable
a = 10 # outside the function
def gf():
  print('fg:', a)
def f2():
  print('f2', a)

gf()
f2()

fg: 10
f2 10

In [ ]:
# local variable

def f1():
  x =10 # inside the function
  print('f1',a)
def f2():
  print('f2',x)

f1()
f2()

f1 10

NameError: ignored

In [ ]:
a = 10
def f1():
  a =770 # inside the function
  print('f1',a) # local variable output
def f2():
  print('f2',a) # global variable output

f1()
f2()

f1 770
f2 10

In [ ]:
a = 10
def f1():
  global a # this function a=770 act as a global variable
  a =770 # inside the function
  print('f1',a)
def f2():
  print('f2',a)

f1()
f2()

# to make global varibale available for all the required functions

f1 770
f2 770

In [ ]:

def f1():
  global y
  y =888 # act as global variable
  print('f1',y)
def f2():
  print('f2',y)

f1()
f2()

f1 888
f2 888

In [ ]:
def f1():
  global y
  y =888 # act as global variable
  print('f1',y)
def f2():
  global y
  y = 999
  print('f2',y)

f1()
f2()

f1 888
f2 999

In [ ]:
def f1():
  global y
  y =888 # act as global variable
  print('f1',y)
def f2():
  global y
  y = 999
  print('f2',y)
def f3():
  print('f3',y)
f1()
f2()
f3()

f1 888
f2 999
f3 999

In [ ]:
def f1():
  global y
  y =888 # act as global variable
  print('f1',y)
def f2():
  global y
  y = 999
  print('f2',y)
def f3():
  y = 1000
  print('f3',y)
f1()
f2()
f3()
# local variable get preferred inside a function as compared to global variable

f1 888
f2 999
f3 1000

In [ ]:
a = 10
def f1():
  a = 20
  print(a)
  print(globals()['a']) # reutrn global value of a
f1()

20
10

RECURSIVE FUNCTIONS

In [1]:
# A function that calls itself is called recursive function
# reduce the length of code and improve readability
# complex problem solve easyly like tower of hanoi

In [2]:
# find the factorial function using recursive function
def factorial(n):
  if n == 0:
    result = 1
  else:
    result = n*factorial(n-1) # calling same function again again untill condition satisfied
  return result
print(factorial(0))

1

In [3]:
factorial(5)

120

In [4]:
factorial(3)

6

In [5]:
# anonymous functions: function without name is called anonymous functions(nameless functions)
# instant use (only one time usage)
s = lambda n:n*n # square formula
print(s(4))

# syntax
# lambda input : formula_expression

16

In [8]:
s = lambda a,b:a+b
print('The sum of {} and {} is: {}'.format(2,4,s(2,4)))
print('The sum of {} and {} is: {}'.format(20,40,s(20,40)))
print('The sum of {} and {} is: {}'.format(200,400,s(200,400)))

The sum of 2 and 4 is: 6
The sum of 20 and 40 is: 60
The sum of 200 and 400 is: 600

In [9]:
s = lambda a,b: a if a>b else b
print('The biggest of {} and {} is: {}'.format(10,20,s(10,20)))
print('The biggest of {} and {} is: {}'.format(10,222,s(10,222)))
print('The biggest of {} and {} is: {}'.format(10,-1,s(10,-1)))

The biggest of 10 and 20 is: 20
The biggest of 10 and 222 is: 222
The biggest of 10 and -1 is: 10

In [10]:
# you can pass a function into an another functions as an argument
#filter()
# map()
# reduce()

In [11]:
# fiter syntax
# filter(function,sequence)
# sequence can be a list, tuple, set

In [14]:
def iseven(x):
  if x % 2 == 0:
    return True
  else:
    return False
l = [0,3,5,6,23,56,11,56]

l1 = list(filter(iseven,l))
print(l1)

[0, 6, 56, 56]

In [17]:
l1 = [25,50,49,10,5,6,23,56,11,56]
l2 = list(filter(lambda x:x%2==0,l1))
print(l2)

[50, 10, 6, 56, 56]

In [18]:
l1 = [25,50,49,10,5,6,23,56,11,56]
l2 = list(filter(lambda x:x%2!=0,l1))
print(l2)

[25, 49, 5, 23, 11]

In [19]:
# map: to produce equalant value
# syntax
# map(function,sequence)

In [21]:
def double(x):
  return 2*x
l1= [1,2,3,4,5]
l2 = list(map(double,l1))
print(l2)

[2, 4, 6, 8, 10]

In [22]:
l1= [1,2,3,4,5]
l2 = list(map(lambda x: 2*x,l1))
print(l2)

[2, 4, 6, 8, 10]

In [23]:
l1= [1,2,3,4,5]
l2 = list(map(lambda x: x*x,l1))
print(l2)

[1, 4, 9, 16, 25]

In [26]:
l1 = [1,2,3,4]
l2 = [10,20,30,40]
l3 = map(lambda x,y: x*y, l1,l2)
print(l3)

<map object at 0x78018ca7ad70>

In [27]:
l1 = [1,2,3,4]
l2 = [10,20,30,40]
l3 = list(map(lambda x,y: x*y, l1,l2))
print(l3)

[10, 40, 90, 160]

In [28]:
l1 = [1,2,3,4]
l2 = [10,20]
l3 = list(map(lambda x,y: x*y, l1,l2))
print(l3)

[10, 40]