<a href="https://colab.research.google.com/github/kataria-pawan/Learning_Mode/blob/main/Python/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l = [10,20,30]
print(l[0])
print(l[1])
print(l[2])

10
20
30

In [ ]:
l = [10,20,[30,40]]
print(l[0])
print(l[1])
print(l[2][0])
print(l[2][1])

10
20
30
40

In [ ]:
l = [10,20,30,40,40,50]
print(l[::])
print(l[::2])
print(l[::-1])

[10, 20, 30, 40, 40, 50]
[10, 30, 40]
[50, 40, 40, 30, 20, 10]

In [ ]:
l = [1,2,3,4,55,556,6,7,8]
i = 0
while i < len(l):
  print(l[i])
  i += 1

1
2
3
4
55
556
6
7
8

In [ ]:
l = [1,2,3,4,55,556,6,7,8]
for x in l:
  print(x)

1
2
3
4
55
556
6
7
8

In [ ]:
l = [1,2,3,4,5,5,5,5,6,6,7,8]
for x in l:
  if x%2 == 0:
    print('Even number: ', x)

Even number:  2
Even number:  4
Even number:  6
Even number:  6
Even number:  8

In [ ]:
l = ['a', 'b', 'c', 'd']
x = len(l)
for i in range(x):
  print(l[i],'is availabe at positive index: ',i,' and at negative index: ', i-x)

a is availabe at positive index:  0  and at negative index:  -4
b is availabe at positive index:  1  and at negative index:  -3
c is availabe at positive index:  2  and at negative index:  -2
d is availabe at positive index:  3  and at negative index:  -1

In [ ]:
def f1(): # function outside the class is called functions
  print('hello this is function')
class student: # function declared inside class it called method
  def info(self):
    print('it is method and dont get confused')
f1()
s = student()
s.info()

hello this is function
it is method and dont get confused

In [ ]:
# important functions and methods of lists:
# l = list(input('enter the list: '))
s = len(l) # to find the length of list
c = l.count(object) # to find the count of object inside the list
i = l.index(object) # to find the first location of object

In [ ]:
# to get the information of the list:
l = [10,20,30,40,10,20,10,10]
target = int(input('Enter the value to search: '))
if target in l:
  print(target,'available and its first occurance is at: ', l.index(target))
else:
  print(target,'not availabe')

Enter the value to search: 50
50 not availabe

In [ ]:
# to manipulate the element of list:
# l.append(element)
l = []
l.append(10)
l.append(20)
l.append(30)
l.append(40)
print(l)

[10, 20, 30, 40]

In [ ]:
# to add all elements to list upto 100 which are divisible by 10
l =[]
for x in range(1,101):
  if x % 10 == 0:
    l.append(x)
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
l =[]
for x in range(0,101,10):
  l.append(x)
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# to insert the element in specified location
l = []
l.append(10)
l.append(20)
l.append(30)
l.append(40)
print(l)
l.insert(1,50) # l.insert(location,element)
print(l)

[10, 20, 30, 40]
[10, 50, 20, 30, 40]

In [ ]:
# extend the list with elements present inside the other list
l1 = ['chicke', 'mutton', 'fish']
l2 = ['kf', 'rc', 'fo']
l1.extend(l2)
print(l1)
print(l2)

['chicke', 'mutton', 'fish', 'kf', 'rc', 'fo']
['kf', 'rc', 'fo']

In [ ]:
# to remove the element from the list
l = [10,20,30,40,50,60,70]
x = int(input('enter element to be removed: '))
if x in l:
  l.remove(x)
  print('Removed successfully')
  print(l)
else:
  print('Specified element is not available')

enter element to be removed: 100
Specified element is not available

In [ ]:
# pop to remove last element of the list
l = [10,20,30,40,50,60,70]
print(l.pop())
print(l.pop())
print(l)

70
60
[10, 20, 30, 40, 50]

In [ ]:
# order of the list
l = [1,2,3,4,5,6]
l.reverse()
print(l)

[6, 5, 4, 3, 2, 1]

In [ ]:
l = [4,5,6, 3,4 ,1,7,3,2,1]
l.sort()
print(l)

[1, 1, 2, 3, 3, 4, 4, 5, 6, 7]

In [ ]:
l = ['boy', 'dog', 'apple', 'cat']
l.sort()
print(l)

['apple', 'boy', 'cat', 'dog']

In [ ]:
l = [10,20, 'apple', 'boy']
l.sort()
print(l)

TypeError: ignored

In [ ]:
l = [ 'apple', 'boy', '10','20']
l.sort()
print(l)

['10', '20', 'apple', 'boy']

In [ ]:
l = [20,3,40,55,24,10]
l.sort(reverse = True)
print(l)

[55, 40, 24, 20, 10, 3]

In [ ]:
l = ['dog','cat','elephant','zebra', 'pawan']
l.sort(reverse = True)
print(l)

['zebra', 'pawan', 'elephant', 'dog', 'cat']

In [ ]:
a = [10,20,30,40]
b = [50,60,70,80]
c = a+b
print('a: ',a)
print('b: ',b)
print('c: ',c)

a:  [10, 20, 30, 40]
b:  [50, 60, 70, 80]
c:  [10, 20, 30, 40, 50, 60, 70, 80]

In [ ]:
a = [10,20,30,40]
b = [50,60,70,80]
c = a.extend(b)
print('a: ',a)
print('b: ',b)
print('c: ',c)

a:  [10, 20, 30, 40, 50, 60, 70, 80]
b:  [50, 60, 70, 80]
c:  None

In [1]:
# comparing list
x = ['Dog','Cat','Rat']
y = ['Dog','Cat','Rat']
z = ['DOG','CAT','RAT']
print(x==y)
print(x==z)
print(y==z)

True
False
False

In [4]:
x = ['Dog','Cat','Rat']
y = ['Dog','Cat','Rat']
z = ['DOG','CAT','RAT']
print(x is y) # id is used for refernce
print(x[0] is y[0])

False
True

In [3]:
# 'is' used for reference comparison
# '==' used for content comparison

In [6]:
x = [50,20,40]
y = [40,50,10,40,60,80]
print(x<y)
# always compare the first value of first index inside the list

False

In [7]:
x = [50,20,40]
y = [40,50,10,40,60,80]
print(x>y)

True

In [8]:
x = [50,20,40]
y = [50,50,10,40,60,80]
print(x>y)

False

In [10]:
x = [50,20,40]
y = [50,50,10,40,60,80]
print(x<=y)

True

In [11]:
x = [[10,20,30],[40,50,60],[70,80,90]]
print(x)

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]

In [12]:
#element row wise
x = [[10,20,30],[40,50,60],[70,80,90]]
print(x[0])
print(x[1])
print(x[2])

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [13]:
x = [[10,20,30],[40,50,60],[70,80,90]]
print('elements row wise: ')
for r in x:
  print(r)

elements row wise:
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [1]:
x = [[10,20,30],[40,50,60],[70,80,90]]
print('Elements in Matrix style: ')
for i in range(len(x)):
  for j in range(len(x[i])):
    print(x[i][j],end=' ')
  print()

Elements in Matrix style:
10 20 30
40 50 60
70 80 90

In [ ]:
# list comprehensions:
l = [1,4,9,16,25,36]

In [2]:
l = []
for x in range(1,11):
  l.append(x*x)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
l = [x*x for x in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# l = [expression for x in sequence]
l = [x*2 for x in range(1,11)]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
l = [x+x for x in range(1,11)]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
l = [x*x for x in range(1,21)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [13]:
# l = [expression for x in sequence if condition]
l1 = [x*x for x in range(1,21)]
l2 = [x for x in l1 if x%2==0]
print(l1)
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [14]:
l = [2**x for x in range(1,11)]
print(l)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [17]:
l1 = [2**x for x in range(1,11)]
l2 = [x for x in l1 if x%2!=0]
print(l1)
print(l2)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]
[]

In [18]:
l1 = [x*x for x in range(1,11)]
l2 = [x for x in l1 if x%2 == 0]
print(l1)
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

In [20]:
l = [x**2 for x in range(1,11) if (x**2)%2==0]
print(l)

[4, 16, 36, 64, 100]

In [21]:
words = ['pawan','shahrukh', 'ajay', 'varun']
l =[w[0] for w in words]
print(l)

['p', 's', 'a', 'v']

In [22]:
words = ['pawan','shahrukh', 'ajay', 'varun']
l =[w[0] for w in words if len(w)>6]
print(l)

['s']

In [25]:
n1 = [10,20,30,40]
n2 = [30,40,50,60]
n3 = [x for x in n1 if x not in n2]
print(n3)

[10, 20]

In [26]:
n1 = [10,20,30,40]
n2 = [30,40,50,60]
n3 = [x for x in n1 if x in n2]
print(n3)

[30, 40]

In [27]:
words = 'the quick brown fox jumps over the lazy dog'.split()
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [29]:
words = 'the quick brown fox jumps over the lazy dog'.split()
l = [w.upper() for w in words]
print(l)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [30]:
words = 'the quick brown fox jumps over the lazy dog'.split()
print(words)
l = [[w.upper(), len(w)] for w in words]
print(l)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['THE', 3], ['LAZY', 4], ['DOG', 3]]

In [32]:
# write a program to display unique vowels present in given words
vowels = ['a','e','i','o','u']
words = input('Enter the words to search for vowels: ')
found = []
for letter in words:
  if letter in vowels:
    if letter not in found:
      found.append(letter)
print(found)
print('The number of differnt vowels present in ', words, ' is ',len(found))

Enter the words to search for vowels: depika
['e', 'i', 'a']
The number of differnt vowels present in  depika  is  3