<a href="https://colab.research.google.com/github/kataria-pawan/Learning_Mode/blob/main/Python/Pattern_Making.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input("Enter the digit to enter: "))
for i in range(1,n+1):
  print('*'*n)

Enter the digit to enter: 6
******
******
******
******
******
******

In [ ]:
n = int(input('Enter the digit : '))
for i in range(1,n+1):
  for j in range(1,n+1):
    print(i, end ='')
  print()

Enter the digit : 3
111
222
333

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+1):
    print(j, end='')
  print()

enter the digit: 10
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910

In [ ]:
n = int(input('Enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+1):
    print(chr(64+i), end='') # alphabet starts from 65
  print()

Enter the digit: 7
AAAAAAA
BBBBBBB
CCCCCCC
DDDDDDD
EEEEEEE
FFFFFFF
GGGGGGG

In [ ]:
n = int(input('Enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+1):
    print(chr(64+j),end=' ')
  print()

Enter the digit: 9
A B C D E F G H I
A B C D E F G H I
A B C D E F G H I
A B C D E F G H I
A B C D E F G H I
A B C D E F G H I
A B C D E F G H I
A B C D E F G H I
A B C D E F G H I

In [ ]:
n = int(input('enter the digit: '))
for i in range(n,0,-1):
  for j in range(n,0,-1):
    print(i, end=' ')
  print()

enter the digit: 10
10 10 10 10 10 10 10 10 10 10
9 9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8 8 8
7 7 7 7 7 7 7 7 7 7
6 6 6 6 6 6 6 6 6 6
5 5 5 5 5 5 5 5 5 5
4 4 4 4 4 4 4 4 4 4
3 3 3 3 3 3 3 3 3 3
2 2 2 2 2 2 2 2 2 2
1 1 1 1 1 1 1 1 1 1

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+1):
    print(n+1-i, end=' ')
  print()

enter the digit: 5
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+1):
    print(n+1-j, end=' ')
  print()

enter the digit: 7
7 6 5 4 3 2 1
7 6 5 4 3 2 1
7 6 5 4 3 2 1
7 6 5 4 3 2 1
7 6 5 4 3 2 1
7 6 5 4 3 2 1
7 6 5 4 3 2 1

In [ ]:
n = int(input('enter the digit: '))
for i in range(n,0,-1):
  for j in range(n,0,-1):
    print(j, end=' ')
  print()

enter the digit: 10
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+1):
    print(chr(65+n-i), end=' ')
  print()

enter the digit: 9
I I I I I I I I I
H H H H H H H H H
G G G G G G G G G
F F F F F F F F F
E E E E E E E E E
D D D D D D D D D
C C C C C C C C C
B B B B B B B B B
A A A A A A A A A

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+1):
    print(chr(65+n-j), end=' ')
  print()

enter the digit: 10
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  print('*'*i)

enter the digit: 9
*
**
***
****
*****
******
*******
********
*********

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end=' ')
  print()

enter the digit: 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
n = int(input('enter the difit:'))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i, end =' ')
  print()

enter the difit:10
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [ ]:
n = int(input('enter the difit:'))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

enter the difit:9
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [ ]:
n = int(input('enter the difit:'))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(64+i),end=' ')
  print()

enter the difit:8
A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H

In [ ]:
n = int(input('enter the difit:'))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(64+j),end=' ')
  print()

enter the difit:10
A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G H I
A B C D E F G H I J

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print('*',end=' ')
  print()

enter the digit: 7
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(i, end=' ')
  print()

enter the digit: 8
1 1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4
5 5 5 5
6 6 6
7 7
8

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(j,end=' ')
  print()

enter the digit: 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(chr(64+i),end=' ')
  print()

enter the digit: 8
A A A A A A A A
B B B B B B B
C C C C C C
D D D D D
E E E E
F F F
G G
H

In [ ]:
n = int(input('enter the digit: '))
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(chr(64+j),end=' ')
  print()

enter the digit: 9
A B C D E F G H I
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A