<a href="https://colab.research.google.com/github/kataria-pawan/Learning_Mode/blob/main/Python/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# write a program to accept some string from the keyboard
# print all the character with index.
s = input('Enter the string : ')
i = 0
for x in s:
  print('The character in positive index {} and negative index {} is : '.format(i, i-len(s)), x)
  i += 1

Enter the string : pawan
The character in positive index 0 and negative index -5 is :  p
The character in positive index 1 and negative index -4 is :  a
The character in positive index 2 and negative index -3 is :  w
The character in positive index 3 and negative index -2 is :  a
The character in positive index 4 and negative index -1 is :  n

In [ ]:
s = 'pawan'
print(s[-5])

p

In [ ]:
s = '0123456789'
s[2:8:1] # positive direction

'234567'

In [ ]:
s[2:8:-1] # in backward direction

''

In [ ]:
s[8:2:-1]

'876543'

In [ ]:
s[-1:-6:-1]

'98765'

In [ ]:
s[2:-5:1]

'234'

In [ ]:
s[:0:-1]

'987654321'

In [ ]:
s = input('Enter the string : ')
n = len(s)
i =0
print('Data In Forward Direction')
while i<n:
  print(s[i])
  i += 1

Enter the string : Pawan Kataria
Data In Forward Direction
P
a
w
a
n

K
a
t
a
r
i
a

In [ ]:
s = input('Enter the string : ')
n = len(s)
i =0
print('Data In Forward Direction')
while i<n:
  print(s[i], end = '')
  i += 1

Enter the string : Pawan Kataria
Data In Forward Direction
Pawan Kataria

In [ ]:
s = input('Enter the string : ')
n = len(s)
i = n-1
print('Data In Backward Direction')
while i>=0:
  print(s[i], end='')
  i -= 1

Enter the string : pawan
Data In Backward Direction
nawap

In [ ]:
s = input('Enter the string : ')
n = len(s)
i = -1
print('Data In Backward Direction')
while i>= -n:
  print(s[i], end='')
  i -= 1

Enter the string : pawan
Data In Backward Direction
nawap

In [ ]:
s = input('enter the main string: ')
subs = input('enter the substring to search: ')
if subs in s:
  print(subs, ' is found in main string.')
else:
  print(subs, ' is not found in mains string.')

enter the main string: pawan
enter the substring to search: a
a  is found in main string.

In [ ]:
s1 = input('Enter the First String: ')
s2 = input('Enter the Second String: ')
if s1 == s2:
  print('Both the strings are equal.')
elif s1<s2:
  print('First string is smaller than second string.')
else:
  print('First string is bigger than second string.')

Enter the First String: Pawan
Enter the Second String: pawan
First string is smaller than second string.

In [ ]:
l1 = ['a', 'b', 'c']
l2 = ['a', 'b', 'c']
print(l1 is l2)

False

In [ ]:
l1 = ['a', 'b', 'c']
l2 = ['a', 'b', 'c']
print(l1 == l2)
print(l1 in l2)

True
False

In [ ]:
city = input('Enter the city name: ')
city_list = ['Hyderabad', 'Pune', 'Delhi', 'Mumbai', 'Bangalore']
if city in city_list:
  print('Your city is available and CCC are XXX.')
else:
  print(city,'City is not available in database.')

Enter the city name: Jaipur
Jaipur City is not available in database.

In [ ]:
city = input('Enter the city name: ')
city_list = ['Hyderabad', 'Pune', 'Delhi', 'Mumbai', 'Bangalore']
if city.strip() in city_list:
  print('Your city is available and CCC are XXX.')
else:
  print(city,'City is not available in database.')

Enter the city name:   Pune
Your city is available and CCC are XXX.

In [ ]:
city = input('Enter the city name: ')
city_list = ['Hyderabad', 'Pune', 'Delhi', 'Mumbai', 'Bangalore']
if city.strip() in city_list:
  print('{} city is available and CCC are XXX.'.format(city))
else:
  print(city,'City is not available in database.')

Enter the city name:      Pune
     Pune city is available and CCC are XXX.

In [ ]:
# finding the substring
s = 'durgasoft'
print(s.find('soft')) # if present, then we get the index
print(s.find('pawan')) # if not then we get -1.

5
-1

In [ ]:
s = 'durgasoftdurgasoft'
print(s.rfind('soft')) # find the location from right side
print(s.rfind('pawan'))

14
-1

In [ ]:
s = 'learning Python is aaa very very easy'
print(s.find('a'))
print(s.rfind('a'))
print(s.rfind('z'))
print(s.rfind('aaa'))
print(s.rfind(' '))

2
34
-1
19
32

In [ ]:
s = 'durgasoft durgasoft durgasoft'
print(s.find('a'))
print(s.find('a',5,10)) # always search from begin to end-1
print(s.find('a',5,10))
print(s.rfind('a',8,15))

4
-1
-1
14

In [ ]:
s = 'durgasoft durgasoft durgasoft'
print(s.index('a',5,15))
print(s.index('z',5,15))

14

ValueError: ignored

In [ ]:
# diffence between find and index is find return -1 if the string is not present
# but index return the value erro says 'substring not found'

In [ ]:
s = input('Enter the main string: ')
subs= input('Enter substring: ')
try:
  n = s.index(subs)
except ValueError:
  print('Substring is not found in main string')
else:
  print('Substring found')

Enter the main string: durgasoftdurgasoft
Enter substring: zeenu
Substring is not found in main string

In [ ]:
s = input('Enter main string: ')
subs = input('Enter substring: ')
flag = False
pos = -1
n = len(s)
while True:
  pos = s.find(subs,pos+1,n)
  if pos == -1:
    break
  print('Found at inde: ', pos)
  flag = True
if flag == False:
  print('Not Found')

Enter main string: kataria
Enter substring: kapil
Not Found

In [ ]:
s = input('Enter main string: ')
subs = input('Enter substring: ')
flag = False
pos = -1
n = len(s)
count = 0
while True:
  pos = s.find(subs,pos+1,n)
  if pos == -1:
    break
  print('Found at inde: ', pos)
  flag = True
  count += 1
if flag == False:
  print('Not Found')
print('The number of occurrences: ', count)

Enter main string: abaabaabacbbabccaacbc
Enter substring: ab
Found at inde:  0
Found at inde:  3
Found at inde:  6
Found at inde:  12
The number of occurrences:  4

In [ ]:
# counting the substrings in the given string:
s = 'durgasoftdurgasoft'
print(s.count('soft'))
print(s.count('soft',2,6))
print(s.count('soft',2,len(s)))

2
0
2

In [ ]:
# replacing the words
s = 'Learning Python is very difficult'
s = s.replace('difficult','easy')
print(s)

Learning Python is very easy

In [ ]:
s= 'abababaaabaac'
print(s)
s = s.replace('a','b')
print(s)

abababaaabaac
bbbbbbbbbbbbc

In [ ]:
#use of replace: words inside string can be replacable
# s.replace(oldstring,newstring)

In [ ]:
s = 'ababab'
s1 = s.replace('a', 'b')
print(s,'Address is: ', id(s))
print(s1,'Address is: ', id(s1))

ababab Address is:  137023982889008
bbbbbb Address is:  137023984397808

In [ ]:
s = 'ababab'
print(s,'Address is: ', id(s))
s = s.replace('a', 'b')
print(s,'Address is: ', id(s))

ababab Address is:  137023982788784
bbbbbb Address is:  137023982422192

In [ ]:
# spliting the string
# default split is 'space'

In [ ]:
s = 'Durga Software soultion'
l = s.split()
print(type(l))
print(l)

<class 'list'>
['Durga', 'Software', 'soultion']

In [ ]:
s = 'Durga Software soultion'
l = s.split()
print(l)
for x in l:
  print(x)

['Durga', 'Software', 'soultion']
Durga
Software
soultion

In [ ]:
s = '02-03-2018'
l = s.split('-')
print(l)
for x in l:
  print(x)

['02', '03', '2018']
02
03
2018

In [ ]:
l = ['Durga','soft','soultion']
s = '-'.join(l)
print(s)

Durga-soft-soultion

In [ ]:
l = ['Durga','soft','soultion']
s = ' '.join(l) # space
print(s)

Durga soft soultion

In [ ]:
# change the case of string:
s = 'pawan Kataria'
print(s.upper()) # all in upper case
print(s.lower()) # all in lower case
print(s.swapcase()) # swaping words like lower to upper or vice versa
print(s.title()) # only title words in capital
print(s.capitalize()) # only first letter is capital

PAWAN KATARIA
pawan kataria
PAWAN kATARIA
Pawan Kataria
Pawan kataria

In [ ]:
# checking starting and ending part of the string
s = 'Learning python is very easy'
print(s.startswith('Learning'))
print(s.endswith('Easy'))

True
False

In [ ]:
# isalnum - only contain aphanumeric character a-z, A-Z, 0-9
# isaplha()
# isdigit()
#islower()
# isupper()
# istitle()
# isspace()

In [ ]:
print('Pawan'.isalnum())
print('pawan878'.isalpha())
print('pawankataria9384'.isdigit())
print('')

True
False
False

In [ ]:
s = input('Enter the character: ')
if s.isalnum():
  print('Alpha Numeric Character')
  if s.isalpha():
    print('Alphabet character')
    if s.islower():
      print('Lower case alphabet charater')
    else:
      print('Upper case alphabet character')
  else:
    print('It is digit')
elif s.isspace():
  print('It is space character')
else:
  print('Non space special Character')

Enter the character:
It is space character

In [ ]:
name = 'Pawan'
age = 30
salary = 10000
print("{}'s age is {} and his salary is {}".format(name,age,salary))

Pawan's age is 30 and his salary is 10000

In [ ]:
# Reverse string method

In [ ]:
s = input('Enter some string: ')
print(s[::-1])

Enter some string: pawan
nawap

In [ ]:
s = input('Enter some string: ')
print(reversed(s))

Enter some string: Kataria
<reversed object at 0x7a06509ddf90>

In [ ]:
s = input('Enter some string: ')
for x in reversed(s):
  print(x)

Enter some string: kataria
a
i
r
a
t
a
k

In [ ]:
s = input('Enter some string: ')
print(''.join(reversed(s)))

Enter some string: katariaa
aairatak

In [ ]:
s = input('Enter some string: ')
for x in reversed(s):
  print(x,end='')

Enter some string: pawan
nawap

In [ ]:
s = input('Enter some string: ')
i = len(s)-1 # for final index
output = ''
while i >= 0:
  output = output + s[i]
  i = i-1
print(output)

Enter some string: pawan kataria
airatak nawap

In [ ]:
s = input('Enter some string: ')
l = s.split() # convert string into list
l1 = []
i = len(l)-1 # for index position
while i >= 0:
  l1.append(l[i])
  i = i-1
print(l1)

Enter some string: name pawan katarai
['katarai', 'pawan', 'name']

In [ ]:
s = input('Enter some string: ')
l = s.split() # convert string into list
l1 = []
i = len(l)-1 # for index position
while i >= 0:
  l1.append(l[i])
  i = i-1
output = ' '.join(l1)
print(output)

Enter some string: learning python is very easy
easy very is python learning

In [ ]:
s = input('enter the string: ')
l = s.split()
l1 = []
for x in l:
  l1.append(x[::-1])
print(l1)

enter the string: durga software solution
['agrud', 'erawtfos', 'noitulos']

In [ ]:
s = input('enter the string: ')
l = s.split()
l1 = []
for x in l:
  l1.append(x[::-1])
output = ' '.join(l1)
print(output)

enter the string: pawan kataria
nawap airatak

In [ ]:
s = input('enter the string: ')
print('Characters at even position: ', s[::2])
print('Characters at odd  position: ', s[1::2])

enter the string: India Jaipur
Characters at even position:  IdaJiu
Characters at odd position:  ni apr

In [ ]:
s = input('enter the string: ')
i = 0
print('the character at even position: ')
while i<len(s):
  print(s[i], end=',')
  i = i+2

enter the string: fuths
the character at even position:
f,t,s,

In [ ]:
s = input('enter the string: ')
i = 0
print('the character at even position: ')
while i<len(s):
  print(s[i], end=',')
  i = i+2
print()
print('The characters at odd position: ')
i = 1
while i<len(s):
  print(s[i], end=',')
  i = i+2

enter the string: pawan kataria
the character at even position:
p,w,n,k,t,r,a,
The characters at odd position:
a,a, ,a,a,i,

In [ ]:
s = input('enter the string: ')
s1 = s2 = output = ''
for x in s:
  if x.isalpha():
    s1 = s1+x
  else:
    s2 = s2+x
print('The string character: ',s1)
print('The numeric characters: ',s2)

enter the string: j2j4g5ve94j5h2
The string character:  jjgvejh
The numeric characters:  2459452

In [ ]:
s = input('enter the string: ')
s1 = s2 = output = ''
for x in s:
  if x.isalpha():
    s1 = s1+x
  else:
    s2 = s2+x
print('The string character: ',s1)
print('The numeric characters: ',s2)
for x in sorted(s1):
  output = output+x
for x in sorted(s2):
  output = output+x
print('Final Output is: ',output)

enter the string: kek5b3005b3b4j5
The string character:  kekbbbj
The numeric characters:  53005345
Final Output is:  bbbejkk00334555

In [ ]:
s = input('enter the string: ')
output = ''
for x in s:
  if x.isalpha():
    output = output + x
    previous = x
  else:
    output = output + previous*(int(x)-1)
print('Final string: ',output)

enter the string: w2e3r4
Final string:  wweeerrrr

In [ ]:
s = input('enter the string: ')
output = ''
for x in s:
  if x.isalpha():
    output += x
    previous = x
  else:
    newch = chr(ord(previous)+int(x))
    output += newch
print('Final string: ', output)

enter the string: s234
Final string:  suvw

In [ ]:
s1 = input('enter the string: ')
s2 = input('enter the string: ')
output =''
i = j = 0
while i<len(s1) or j<len(s2):
  output = output + s1[i] + s2[j]
  i += 1
  j += 1
print(output)

enter the string: ravi
enter the string: teja
rtaevjia

In [ ]:
s1 = input('enter the string: ')
s2 = input('enter the string: ')
output =''
i = j = 0
while i<len(s1) or j<len(s2):
  if i<len(s1):
    output = output + s1[i]
    i += 1
  if j<len(s2):
    output = output + s2[j]
    j += 1
print(output)

enter the string: Ravi
enter the string: TEjaSOft
RTaEvjiaSOft

In [ ]:
# to remove the duplicate letters

s = input('enter the string: ')

l = []
for x in s:
  if x not in l:
    l.append(x)
output = ''.join(l)
print(output)

enter the string: pawan katara
pawn ktr

In [ ]:
s = input('enter the string: ')
print(''.join(set(s))) # order is not maintained

enter the string: pawan
awpn

In [ ]:
s = input('enter the string: ')
d = {}
for x in s:
  if x not in d.keys():
    d[x] = 1
  else:
    d[x] = d[x]+1
print(d)

enter the string: aabbdaabsbaa
{'a': 6, 'b': 4, 'd': 1, 's': 1}

In [ ]:
s = input('enter the string: ')
d = {}
for x in s:
  if x not in d.keys():
    d[x] = 1
  else:
    d[x] = d[x]+1
for k,v in d.items():
  print('{} occurs {} times'.format(k,v))

enter the string: pawan kataria
p occurs 1 times
a occurs 5 times
w occurs 1 times
n occurs 1 times
  occurs 1 times
k occurs 1 times
t occurs 1 times
r occurs 1 times
i occurs 1 times