<a href="https://colab.research.google.com/github/kataria-pawan/Learning_Mode/blob/main/Python/Tuple_%26_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# READ ONLY VERSION OF LIST IS TUPLE
# TUPLE ELEMENT REPRESENTED IN ()

In [ ]:
t = 10,20,30,40
y = (10,20,30,40)
print(type(t))
print(type(y))

<class 'tuple'>
<class 'tuple'>

In [ ]:
t = (10+20) # always consider as int type
print(type(t))

<class 'int'>

In [ ]:
t = (10,)
print(type(t))
print(t)

<class 'tuple'>
(10,)

In [ ]:
t = (10,20,30,)
print(t)

(10, 20, 30)

In [ ]:
t = tuple(range(1,11))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
t = tuple(range(1,11,2))
print(t)

(1, 3, 5, 7, 9)

In [ ]:
# access elements of tuple
# index and slice operators

In [ ]:
print(t)
print(t[0])
print(t[1:4])

(1, 3, 5, 7, 9)
1
(3, 5, 7)

In [ ]:
t =tuple('durgra soft')
print(t)
print(t[0])
print(t[1:4:1])

('d', 'u', 'r', 'g', 'r', 'a', ' ', 's', 'o', 'f', 't')
d
('u', 'r', 'g')

In [ ]:
t1 = (10,20,30)
t2 = (40,50,60)
t3 = t1+t2
print(t1)
print(t2)
print(t3)

(10, 20, 30)
(40, 50, 60)
(10, 20, 30, 40, 50, 60)

In [ ]:
t1 = (10,20,30)
t2 = (40,50,60)
t3 = t1*t2
print(t1)
print(t2)
print(t3)

TypeError: ignored

In [ ]:
t1 = (10,20,30)
t2 = t1*3
print(t1)
print(t2)

(10, 20, 30)
(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [ ]:
t1 = (10,20,30)
t2 = t1+3
print(t1)
print(t2)

TypeError: ignored

In [ ]:
t = (10,20,30,40,10,10,50,60,70,80)
print(len(t))
print(t.count(10))
print(t.index(10))
print(sorted(t))
print(tuple(sorted(t)))
print(tuple(sorted(t,reverse =True)))

10
3
0
[10, 10, 10, 20, 30, 40, 50, 60, 70, 80]
(10, 10, 10, 20, 30, 40, 50, 60, 70, 80)
(80, 70, 60, 50, 40, 30, 20, 10, 10, 10)

In [ ]:
t = (10,20,30,40,10,10,50,60,70,80)
print(min(t))
print(max(t))

10
80

In [ ]:
# tuple packing
a = 10
b = 20
c = 30
d = 40
t = a,b,c,d
print(t)

(10, 20, 30, 40)

In [ ]:
# unpacking of tuple
t = (10,20,30,40)
a,b,c,d = t
print('a=',a,'b=',b,'c=',c,'d=',d )

a= 10 b= 20 c= 30 d= 40

In [ ]:
t = [10,20,30,40]
a,b,c,d = t
print('a=',a,'b=',b,'c=',c,'d=',d )

a= 10 b= 20 c= 30 d= 40

In [ ]:
t = {10,20,30,40}
a,b,c,d = t
print('a=',a,'b=',b,'c=',c,'d=',d )

a= 40 b= 10 c= 20 d= 30

In [ ]:
# write a program to take tuple of numbers from the keyboard and print sum, average
t = eval(input('Enter the tuple: '))
l = len(t)
sum = 0
for x in t:
  sum = sum+x
print('The sum: ', sum)
print('The average: ', sum/l)

Enter the tuple: (10,20,30,40,50)
The sum:  150
The average:  30.0

In [ ]:
# SET
s = {10,20,30}
print(s[0]) # indexing is not applicable in set because order is not preserved in set

TypeError: ignored

In [ ]:
s = {30,10,40,5,20}
print(s)
print(type(s))

{20, 5, 40, 10, 30}
<class 'set'>

In [ ]:
l = [10,20,30,40,10,20]
s = set(l)
print(s)

{40, 10, 20, 30}

In [1]:
s = set()
s.add(20)
s.add(10)
s.add(40)
s.add(50)
print(s)
# add is used to add value one by one

{40, 10, 20, 50}

In [2]:
s = {10,20,30}
l = [40,50,60]
s.update(l)
print(s)
# update is used to add a group of data

{40, 10, 50, 20, 60, 30}

In [2]:
s = {10,20,30}
s.add(10)
print(s)

{10, 20, 30}

In [3]:
s = {10,20,30}
s.add(10,10,20,30,40,50)
print(s)

TypeError: ignored

In [4]:
s = {10,20,30}
s.update(80)
print(s)

TypeError: ignored

In [5]:
s = {10,20,30}
s.update(range(1,10,2),range(2,10,2))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30}

In [6]:
s = {10,20,30}
s.update('python')
print(s)

{'h', 10, 'n', 'y', 't', 20, 'p', 'o', 30}

In [7]:
s = {10,20,30}
s.add('python')
print(s)

{'python', 10, 20, 30}

In [9]:
s = {10,20,30}
s1 = s.copy()
print(s)
print(s1)
print(id(s))
print(id(s1))

{10, 20, 30}
{10, 20, 30}
139699581512256
139699581510464

In [10]:
# pop(): removed the default or random value from the set
s = {10,20,30}
print(s.pop())
print(s)

10
{20, 30}

In [11]:
s = {10,20,30}
print(s.pop())
print(s.pop())
print(s.pop())
print(s)

10
20
30
set()

In [12]:
# remove: to remove the specific value from the set
s = {10,20,30}
s.remove(30)
print(s)

{10, 20}

In [14]:
s = {10,20,30}
s.remove(30)
s.discard(140) # to remove the value if its not present in set without any error
print(s)

{10, 20}

In [15]:
s = {10,20,30}
s.clear() # it remove all the elements from the set, empty set
print(s)

set()

In [16]:
# mathematical operations:
# Union(): group into a single set
s1 = {10,20,30}
s2 = {40,50,60,70}
print(s1.union(s2))
print(s1|s2)

{50, 20, 70, 40, 10, 60, 30}
{50, 20, 70, 40, 10, 60, 30}

In [18]:
s1 = {10,20,30,40,50}
s2 = {40,50,60,70}
print(s1.intersection(s2))
print(s1&s2)

{40, 50}
{40, 50}

In [19]:
s1 = {10,20,30,40,50}
s2 = {40,50,60,70}
print(s1.difference(s2))
print(s1-s2)

{10, 20, 30}
{10, 20, 30}

In [21]:
s1 = {10,20,30,40,50}
s2 = {40,50,60,70}
print(s1^s2) # symetric difference
print(s1.symmetric_difference(s2))

{70, 10, 20, 60, 30}
{70, 10, 20, 60, 30}

In [22]:
# membership operator:
s1 = set('durga')
print(s1)
print('d' in s1)
print('z' in s1)

{'a', 'd', 'r', 'g', 'u'}
True
False

In [23]:
# set comprehension
s = {x*x for x in range(6)}
print(s)

{0, 1, 4, 9, 16, 25}

In [24]:
s = {x*x for x in range(1,6) if x%2==0}
print(s)

{16, 4}

In [25]:
# to eliminate duplicate present in the list
l = eval(input('Enter the list of value: '))
s = set(l)
print(s)

Enter the list of value: [10,20,30,40,20,30,20]
{40, 10, 20, 30}

In [26]:
# to eliminate duplicate present in the list
l = eval(input('Enter the list of value: '))
l1 = []
for x in l:
  if x not in l1:
    l1.append(x)
print(l1)

Enter the list of value: [10,20,30,20,20,10,50,30]
[10, 20, 30, 50]

In [28]:
w = input('Enter any word: ')
s = set(w)
v = {'a','e','i','o','u'}
d = s.intersection(v)
print(d)

Enter any word: infosis amazon flipkart
{'o', 'a', 'i'}